@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: '#202020',
  --color-foreground: '#878787',
  --color-foreground-2:'#BDBDBD',
}

body {
  @apply m-0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  margin-left: -16px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 16px;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 50%;
    padding-left: 16px;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33%;
    padding-left: 16px;
  }
}
